.gameFrame {
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;

    background-color: #FFFFFF;

    border-top: 4px solid #bdc3c7;
    border-bottom: 4px solid #bdc3c7;
    border-left: 4px solid #bdc3c7;
    border-right: 4px solid #bdc3c7;

    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

    min-width: 1000px;
    max-width: 1000px;
    min-height: 650px;
    max-height: 650px;
}

